* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(120deg, #eae8e5, #cc1178, #dac9d2);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}


.container {
    background: linear-gradient(120deg, #d5b874, #cc1178, #dac9d2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(237, 235, 235, 0.2);
    width: 320px;
    text-align: center;
    animation: slideUp 0.5s ease-out;
}

h1 {
    font-size: 26px;
    color: #ede5e5;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

label{
    color: white;
}


input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #4CAF50;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

button:hover {
    background-color: #246727;
}

#result {
    margin-top: 30px;
    opacity: 0;
    animation: fadeInResult 1s forwards;
}

#ageOutput {
    font-size: 20px;
    font-weight: bold;
    color: #f6f6f6;
    animation: slideInResult 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInResult {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInResult {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
